<!-- Footer -->

<div class="container-fluid bg-3 text-center">    

<footer class="page-footer text-center py-3 footer">

          <!-- Content -->
          

          <p>Connect with jams around you.</p>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/"> ANA & MIREIA</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->