<!-- Footer -->

<footer class="page-footer text-center py-3 footer">
  <div class="container">
    <p>Connect with jams around you.</p>
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <a href="/"> ANA & MIREIA</a>
    </div>

  </footer>