
<nav class="navbar">
  <div class="container">
      <a class="navbar-brand" href="/">Jam-On</a>
      <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">home</a></li>
        <% if (!currentUser) { %>
        <li id="sign up"><a href="/auth/signup">Sign Up</a></li>
        <li id="login"><a href="/auth/login">Login</a></li>
        <li id="contact"><a href="/contact">Contact us</a></li>
        <% } else { %>
        <li id="profile"><a href="/profile">profile</a></li>
        <li id="jam"><a href="/jams">Jams</a></li>
        <li id="contact"><a href="/contact">Contact us</a></li>
        <form action="/auth/logout" method= "post">
        <button class="logout-btn">Logout</button>
        </form>
        
        <% } %>
        
      </ul>
    </div>
  </div>
</nav>