<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Created in Ironhack Bootcamp 0918.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Module 2 - Web development</p>
    </div>
    <div class="col-sm-4"> 
      <p> Ana / Mireia</p>
    </div>
  </div>
</div>

