<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  <h3 class="text-center"><%= page %></h3><br>
  <section>
  <img src="https://image.flaticon.com/icons/svg/202/202381.svg" alt="Nothing found" >
  </section>
  </div>
</body>
<% include partials/script %>
</html>