
  <div class="container-fluid bg-3 text-center">    
  <div class="row">
  <div class="col-sm-4">
    <p>Get ready to Jam</p>
  </div>
  
  <div class="col-sm-4"> 
  <p>Get ready to Jam1</p>
  </div>
  
  <div class="col-sm-4"> 
  <p>Get ready to Jam2</p>
  </div>
  </div>
  <a href="/auth/signup">Sign up </a>
  <a href="/auth/login" class="btn btn-outline-secondary">Log in</a>
  </div>
  </head>
  <main>
  <div id= "intro" class="view">
  <div class="full-bg-img">
  </div>

</div>
