
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
      <h1 class="title">Welcome to Jam-On</h1>
      
      <p>Connect to other musician</p>
      <p>Create and attends in Jams</p>
    </div>

  </div>
  <a href="/auth/signup" class="btn btn-outline-secondary">Sign up </a>
  <a href="/auth/login" class="btn btn-outline-secondary">Log in</a>
</div>
 
 
