<!DOCTYPE html>
<html>
  <head>
    <title>Jam-On</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Jam-On</h1>
    <p>Welcome to Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex commodi atque distinctio saepe deserunt ipsa quaerat, inventore quis, at rem, aliquam dolorum explicabo animi perspiciatis! Possimus rerum illum impedit.</p>
    <a href="../auth/signup" class="button">Sign Up</a>
    <a href="../auth/login" class="button">Login</a>

  </body>
</html>
