<div class="container-fluid bg-3 text-center">    
  <div class="row">
  <div class="col-12">
    <a href="/"></a>
    <p> <%= user.username %> </p>
    <p> <%= user.email %> </p>
    <p> <%= user.city %> </p>
    <p> <%= user.instrument %> </p>
  </div>

  </div>
</div>