* {
  font-family: 'Bungee Hairline';
  font-weight: bold;
}

html, body, header, #intro {
  height: 100%; }

 #intro {
   background-image: url(images/intropic.png) no-repeat center center fixed;

 }
 
 
.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar-nav,
.navbar-nav a {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: royalblue !important;
}
.active>a {
color: #1abc9c !important;;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
a.navbar-brand{
  font-family: 'Bungee';
  font-weight: bold;
}

