
body{
  font-family: 'Bungee Hairline';
  font-weight: bold;
}

h2, h3{
  font-family: Bungee;
}

header:hover { background-color: yellow;
}

html, body, header, #intro {
  height: 100%; 
}

a{
  color:red;
}

.intro {
   background-image: url(images/intropic.png) no-repeat center center fixed;
 }
 
.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar-nav,
.navbar-nav a {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: royalblue !important;
}
.active>a {
color: #1abc9c !important;;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
a.navbar-brand{
  font-family: 'Bungee';
  font-weight: bold;
  
}

.profile-info {
  position: relative;
  text-align: left; 
  margin: 20px auto;
}
.profile-info-title {
  position: relative; 
  text-align: center;
}
.form-control[readonly] {
  background-color: white;
  opacity: 1;
}
.button-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  background: #f8f9fa;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #e4e4e4;
  
}
.footer {
  border-top: 1px solid #e4e4e4;
}

/* Bootstrap */
.navbar-nav, .navbar-nav a{
  display: inline-block;
}
.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.a:hover {
  color: #1abc9c !important;
}
.active>a {
color: #1abc9c !important;;
}

.logout-btn {
  padding-top: 15px;
  color: red;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background: none;
  margin-left: -7px;

}

.jam-info {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  text-align: left;
  margin: 20px auto;
  
}
 
.fas.fa-star {
  color: red
}

a.btn{
  color: #555555;
}

.btn{
  background:transparent;
  justify-content: center;
}

i.far {
  color: #555555;
}