<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  <h3 class="text-center"><%= page %></h3><br>
  <section>
<form action="/jams/add" method="post">
  <div class="form-container">
    <input type="text" name="name" placeholder="Jams's name">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="style" placeholder="Style">
    <input type="date" name="date" placeholder="date">

    <button>Save Jam</button>
  </div>
  <a href="/" class="back-link">Go back</a>
</form>
</section>

</body>
<% include partials/script %>
</html>